@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d8e2dc;
}

#column-2 {
  background: #ffe5d9;
}

#column-3 {
  background: #ffcad4;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #555b6e;
  }

  #column-1 {
    background-color: #89b0ae;
  }

  #column-2 {
    background-color: #bee3db;
  }

  #column-3 {
    background-color: #faf9f9;
  }

  footer {
    background-color: #ffd6ba;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #1a535c;
  }

  #column-1 {
    background-color: #4ecdc4;
  }

  #column-2 {
    background-color: #f7fff7;
  }

  #column-3 {
    background-color: #ff6b6b;
  }

  footer {
    background-color: #ffe66d;
  }
   
}
